<style>
.whole{background-image: url{http://zechtech.org/wp-content/uploads/2015/03/mathslide.jpg}
</style>

<div class= "whole">

	<div class="page-header">
  <h1>Albert Einstein <small>March 14,1879- April 18,1955</small></h1>

<br> <br> <br>
 <div class="col-md-3"> <img src = "https://pbs.twimg.com/profile_images/378800000196136054/7801854a15988750bac27a0bcace51c1.jpeg">
		    	</div>

	<h3>Thereotical Physicist <span class="label label-default">German Born</span></h3>

<div class="col-md-3"> <p>Albert Einstein was a German-born theoretical physicist. He developed the general theory of relativity, one of the two pillars of modern physics. Einstein's work is also known for its influence on the philosophy of science.</p>

</div>


<div class="col-md-3"> 
</div>

<div class="col-md-3"> 

</div>		  

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  </div>
</div> 
</div>












