

<div class= "whole">

	<div class="page-header">
  <h1>Marie Curie<small>March 14,1879- April 18,1955</small></h1>

<br> <br> <br>
 <div class="col-md-3"> <img src = "http://www.rsc.org/diversity/175-faces/sites/175facesofchemistry/files/uploads/H4030295-Marie_Curie,_Polish-French_physicist_250m.jpg">
		    	</div>

	<h3>Physicist and Chemist <span class="label label-default">Poland Born</span></h3>

<div class="col-md-3"> <p> Marie Skłodowska-Curie was a Polish and naturalized-French physicist and chemist who conducted pioneering research on radioactivity. She was the first woman to win a Nobel Prize, the first person and only woman to win twice, the only person to win twice in multiple sciences, and was part of the Curie family legacy of five Nobel Prizes. She was also the first woman to become a professor at the University of Paris, and in 1995 became the first woman to be entombed on her own merits in the Panthéon in Paris.</p>

</div>


<div class="col-md-3"> 
</div>

<div class="col-md-3"> 

</div>		  

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  </div>
</div> 
</div>





